/* цвет Абзацев 212121 
  цвет текста 757575
  цвет лого 2196f3
  цвет лого 000000
  акцент ffffff
  фон ffffff
  фон команда f5f4fa
*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #ffffff;
  --background-color: #f5f4fa;
  --accent-text-color: #2196f3;
  --background-hero: #2f303a;
  --address-color: #c4c4c4;
  --logo-color: #000000;
}
.page {
  background-color: var(--accent-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.pointer {
  cursor: pointer;
}

.logo {
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.top-logo {
  color: var(--accent-text-color);
}

.down {
  color: var(--accent-color);
}
.logo:hover {
  color: var(--accent-text-color);
}

.list {
  list-style: none;
}

/* site nav */
.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.site-nav .studio,
.site-nav .portfolio {
  color: var(--title-text-color);
}

.site-nav .contacts {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}

.site-nav .link.current {
  color: var(--accent-text-color);
}

/* auth-nav */
.auth-nav .mail,
.auth-nav .phone {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-text-color);
}

/* Hero */
.hero-title,
.hero-button {
  color: var(--accent-color);
}

.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  background-color: var(--accent-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero {
  background-color: var(--background-hero);
}

/* section */
.section-title {
  color: var(--title-text-color);
}

.title {
  color: var(--title-text-color);
  letter-spacing: 0.06em;
}

.title .team {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}

.team {
  background-color: var(--background-color);
}
.portfolio-button {
  background-color: var(--background-color);
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--accent-text-color);
  color: var(--accent-color);
}

.title .sites {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.section .content {
  font-size: 16px;
  line-height: 1.9;
}

/* Footer */

.address .link,
.address .city {
  color: var(--address-color);
}

.footer {
  background-color: var(--background-hero);
}

.footer .mail,
.footer .phone,
.footer .city {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}
